/* top logo */
a.navbar-brand img {
	width:60px;
	height:60px;
	margin-top:-10px;
}

/* footer social links */

.social-icons a i {
	width:2.5em;
	height:2.5em;
	line-height:2.5em;
	font-size:2.5em;
}

/* event listing */

/* container */
header.entry-header {
	width: calc(100% - 380px);
	float:left;
	margin-left:10px;
	height:380px;
  clear:left;
}

body.page-template-eventbrite-index.single header.entry-header {
	height:1000px;
}

body.page-template-eventbrite-index.single .eventbrite-widget iframe {
	width:360px;
	height:1000px;
	float:right;
}
header.entry-header span.event-organizer, span.sep {
	display:none;
}

/* image */
header.entry-header img.wp-post-image {
	width:400px;
  position:absolute;
}

@media all and (max-width: 1024px) {
	header.entry-header a.post-thumbnail {
		display:none;
	}
	body.page-template-eventbrite-index.single header.entry-header img.wp-post-image {
		display:none;
	}
	header.entry-header h1.entry-title, header.entry-header .entry-meta {
	width:100%!important;
		float:left;
		margin-left:-400px;
	}
}

@media all and (max-width: 550px) {
	header.entry-header img.wp-post-image, header.entry-header a.post-thumbnail {
		display:none;
	}
	header.entry-header h1.entry-title {
   font-size:14pt!important;
	}
}

/* title */
header.entry-header h1.entry-title {
	width: calc(100% - 420px);
	font-size:24pt;
	float:right;
	margin-top:0;
	color:#5C5C5C!important;
}

header.entry-header a {
	color:#5C5C5C;
}

header.entry-header a:hover {
	text-decoration:none;
}

header.entry-header .event-details a {
	color:#4EAE49;
	font-weight:bold;
}

header.entry-header a:hover {
	text-decoration:underline;
}


/* details */
header.entry-header .entry-meta {
	width: calc(100% - 420px);
	float:right;
	clear:right;
}

header.entry-header span {
	float:left;
	clear:left;
}

footer {
	clear:both;
}

.eventbrite-widget iframe {
	width:360px;
	height:370px;
	float:right;
}

footer.entry-footer {
  display:none;
}


body.page-template-eventbrite-index.single header.entry-header {
	margin-top:100px;
}

body.page-template-eventbrite-index.single .eventbrite-widget iframe  {
	margin-top:25px;
}

body.page-template-eventbrite-index.single header.page-header, 
body.page-template-eventbrite-index.archive header.page-header {
	margin-top:100px;
}

body.page-template-eventbrite-index.single h1.page-title, 
body.page-template-eventbrite-index.archive h1.page-title {
	text-align:center;
	background-color:#ccc;
	margin-top:-15px;
	padding:20px;
}

/* Home Page CSS */

body.page-template-homepage-withheader header .container {
	display:none;
}

body.page-template-homepage-withheader header {
	background-color:transparent;
	height:50px;
}

nav {
	height:70px;
	border:none;
	margin-bottom:30px;
}

body.page-template-homepage-withheader section.header_slideshow {
	margin-top:-50px
}



body.page-template-homepage-withheader .event_desc {
	color:#000;
	font-size:12px;
}

body.page-template-homepage-withheader iframe .content__monkeyRewards a {
	display:none!important;
}
#registernow {
	width:100%;
	text-align:center;
	margin-top:-10px
}
